doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    header
      div
        div
          a(href="") Icon
          a(href="")  
        ol
          li About
          li Products
          li For Teams
        div
        form(action="")
            div
              input(type="text")
        ol
          li Log In
          li Sign Up
    div
      div
        nav
          ol
            li Home
            li
              ol
                li Public
                li Stack Overflow
                li Tags
                li Users
                li Find A Job
                li Jobs
                li Companies
                block content

