mixin navBar
  div.nav-bar
    nav
      ul
        li
          ul
            li
              a(href="/")#home HOME
            li PUBLIC
            li
              a(href="/") Virus Overflow
            li
              a Tags
            li
              a Users
            li FIND A JOB
            li
              a Jobs
            li
              a Companies
        li
          ol
            li.nav-base
              div TEAMS
              div What's this?
            li.nav-base-2
              div Icon
              div Free 30 Day Trail

doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/questions.css')
        link(rel='stylesheet' href='/stylesheets/questions-form.css')
        script(src="/javascripts/index.js")
        script(src="/javascripts/vote.js")

  body
    header.grid-area-1
      div.top-bar
        div.tbgrid-1
          a(href="/") Icon
        ol
          li.tbgrid-2 About
            a(href="")
          li.tbgrid-3 Products
          li.tbgrid-4 Search
        div.tbgrid-5
          form(action="/search", method="post", id="search")
              div
                input(type="text", name="searchTerm")
        if logedIn
          div.tbgrid-6
            form(action="/logout", method="post")
              button.button Log Out
        else
          div.tbgrid-6
            form(action="/login")
              button.button Log In
          div.tbgrid-7
            form(action="/users/register")
              button Sign Up

    div.grid-area-2
      block content

    footer.grid-area-3
      div.bottom-bar
        div.bbgrid-1
          a(href="/") icon
        nav.naving
          div.bbgrid-2
            h5 VIRUS OVERFLOW
            ul
              li Questions
              li Jobs
              li Developer Jobs Directory
              li Salary Calculator
              li Help
              li Mobile
              li Disable Responsiveness
          div.bbgrid-3
            h5
              a(href="") PRODUCTS
            ul
              li Teams
              li Talent
              li Advertising
              li Enterprise
          div.bbgrid-4
            h5
              a(href="") COMPANY
            ul
              li About
              li Press
              li Work Here
              li Legal
              li Privacy Policy
              li Contact Us
          div.bbgrid-5
            h5
              a(href="") STACK EXCHANGE NETWORK
            ul
              li Technology
              li Life / Arts
              li Culture / Recreation
              li Science
              li Other
        div.bbgrid-6
          ul.links
            li
              a(href="") Blog
            li
              a(href="") Facebook
            li
              a(href="") Twitter
            li
              a(href="") LinkedIn
            li
              a(href="") Blog
          p "site design / logo by virusoverflow"
