doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    header.grid-area-1
      div
        a(href="") Icon
      ol
        li
          a(href="") About
        li
          a(href="") Products
        li
          a(href="") For Teams
      div
        form(action="")
            div
              input(type="text")
      div
        button Log In
      div
        button Sign Up
    div.grid-area-2
      div
        nav
          ol
            li Home
            li
              ol
                li Public
                li Stack Overflow
                li Tags
                li Users
                li Find A Job
                li Jobs
                li Companies
                block content
