extends layout.pug

block content
    if(errors)
        each error in errors
            .error
                p=error
    form(action="/login", method="post")
        div
            label(for="username") username
            input#username(name="username", type="text")
        div
            label(for="password") password
            input#password(name="password", type="password")
        div
            button Log In
    form(action="/logout", method ="post")
        button Log Out
