extends layout.pug

block content
    .virusForm
        if(errors)
            each error in errors
                .error
                    h2=error
        .formTitle
            h1 Log in
        form(action="/login", method="post")
            .inputBlock
                label(for="username") username
                input#username(name="username", type="text")
            .inputBlock
                label(for="password") password
                input#password(name="password", type="password")
            .buttonHolder
                button Log In
        form(action="/users/demo", method = "post")
            .buttonHolder
                button Log In As Demo User
