extends layout.pug

block content
    .virusForm
        if(errors)
            each error in errors
                .error
                    h2=error
        .formTitle
            h1 Log in
        form(action="/login", method="post")
            .inputBlock
                input#username(name="username", type="text" placeholder='Username')
            .inputBlock
                input#password(name="password", type="password" placeholder='Password')
            .buttonHolder
                button.login-button Log In
        form(action="/users/demo", method = "post")
            .buttonHolder
                button.login-button Log In As Demo User
