extends layout.pug


block content
    div.container
        div
            div.topheader Ask a Question

            div.innergrid
                form(action="/questions", method="post")
                    div.formgrid
                        div.formtitle
                            label(for="title") Title
                                p.titleP Be specific and imagine you're asking a question to another person
                            input(name="title", type="text")
                        div.formbody
                                label(for="body") Body
                                    p.bodyP Include all the information someone would need to answer you question
                                textarea(type="text" name="body")
                        div.formtags
                                    label(for="body") Tags
                                        p.tagsP Add up to 5 tags to describe what your question is about
                                        input(name="tags", type="text")
                    div
                        button(type="submit") Review Your Question
                div.tipsform
                    div.step1 Step 1: Draft your question
                    div
                        .ptip1 The community is here to help you with specific coding, algorithm, or language problems.
                    div
                        .ptip2 Avoid asking opinion based questions
                    ol
                        li Summarize the problem
                        li Describe what you've tried
                        li Show some code
                    div
                        button(type="button") Have s non-programming question?

                    div.mgrid-sidebar-3
                        button(type="button") More helpful links
