extends layout.pug


block content
    div.container
        div
            div.topheader Ask a Question

            div.innergrid
                form(action="/questions", method="post")
                    div.formgrid
                        div.formtitle
                            label(for="title") Title
                                p.titleP Be specific and imagine you're asking a question to another person
                            input(name="title", type="text")
                        div.formbody
                                label(for="body") Body
                                    p.bodyP Include all the information someone would need to answer you question
                                textarea(type="text" name="body")
                        //- div.formtags
                        //-             label(for="body") Tags
                        //-                 p.tagsP Add up to 5 tags to describe what your question is about
                        //-                 input(name="tags", type="text")
                    div
                        button#review(type="submit") Review Your Question
                div.tipsform
                    div.h3 How to ask a Question
                        div.step1
                            .tbutton(type="submit") Step 1: Draft your question

                        div.step1
                            .tbutton(type="submit") Step 2: Summarize the problem

                        div.step1
                            .tbutton(type="submit") Step 3: Describe what you've tried

                        //- div.step1
                        //-     .tbutton(type="submit") Step 4: Show some code

                    //- ol#dropdownholder
                    //-     li#tbutton(type="button").collapsible Summarize the problem

                    //-     li#dropdown.collapsible Describe what you've tried
                    //-         p
                    //-     li#dropdown.collapsible Show some code
                    //-         p
                    //- div
                    //-     button(type="button") Have non-programming question?

                    //- div.mgrid-sidebar-3
                    //-     button(type="button") More helpful links

