extends layout.pug

block content
        .virusForm
            .formTitle
                h1 Register for VirusOverflow
            if(errors)
                each error in errors
                    .error
                        h2=error
            form(action="/users/", method="post")
                .inputBlock
                    input#email(type="email", name="email", placeholder='Email')
                .inputBlock
                    input#username(name="username", type="text" placeholder='Username')
                .inputBlock
                    input#password(name="password", type="password" placeholder='Password')
                .inputBlock
                    input#password_conf(name="password_conf", type="password" placeholder='Confirm Password')
                .buttonHolder
                    button Submit
