extends layout.pug

block content
        .virusForm
            .formTitle
                h1 Register for VirusOverflow
            if(errors)
                each error in errors
                    .error
                        h2=error
            form(action="/users/", method="post")
                .inputBlock
                    label(for="email") Email
                    input#email(type="email", name="email")
                .inputBlock
                    label(for="username") Username
                    input#username(name="username", type="text")
                .inputBlock
                    label(for="password") Password
                    input#password(name="password", type="password")
                .inputBlock
                    label(for="password_conf") Confirm Password
                    input#password_conf(name="password_conf", type="password")
                .buttonHolder
                    button Submit
