<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="/javascripts/vote.js")
    body
        .vote
            button#upAnswerVoteFor2  Vote Up
            #answerVoteCountFor2.voteCount
            button#downAnswerVoteFor2 Vote Down
        #error
