body {
	display: grid;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: white;
	color: black;
	/* grid-template-rows: 10vh max(auto, 80vh) 10vh;
	grid-template-areas:
		"header header header header header header header header"
		"main main main main main main main main"
		"footer footer footer footer footer footer footer footer"; */
}

.author-info {
	display: flex;
	width: 10vw;
	justify-content: space-between;
	align-items: center;
}

.author-info img {
	width: 45px;
	height: 45px;
}

.author-info p {
	text-align: center;
}

.grid-area-1 {
	/* grid-area: header; */
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font: 10px Arial, Helvetica, sans-serif;
	color: #242729;
	background-color: #479c0e13;
	border-top: 3px solid #2e610c;
	box-shadow: 0px 1px 2px #2e610c;
}

.grid-area-2 {
	min-height: 80vh;
	background-size: auto;
}

.grid-area-3 {
	height: 10vh;
	display: flex;
	background-color: #153002;
	/* background-color: #242729; */
	color: white;
	justify-content: space-around;
	align-items: center;
}

/* ===================================Header Grid===================================================== */
.top-bar {
	display: grid;
	grid-template-columns: repeat(7, auto);
	direction: column;
	justify-content: space-evenly;
	align-items: center;
	grid-template-areas: "icon about products forTeams search login signUp";
}

.tbgrid-1 {
	grid-area: icon;
	padding-left: 10px;
	padding-right: 30px;
}
.tbgrid-2 {
	grid-area: about;
	display: inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.tbgrid-3 {
	grid-area: products;
	display: inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.tbgrid-4 {
	grid-area: forTeams;
	display: inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
.tbgrid-5 {
	grid-area: search;
	padding-left: 10px;
	padding-right: 10px;
}
.tbgrid-6 {
	grid-area: login;
	padding-left: 10px;
	padding-right: 10px;
}
.tbgrid-7 {
	grid-area: signUp;
	padding-left: 10px;
	padding-right: 10px;
}
/* ========================================================================================== */

/* ===================================Footer Grid========================================== */


.bbgrid-1 {
	grid-area: icon;
}
.bbgrid-2 {
	grid-area: VO;
	padding-left: 50px;
	padding-right: 50px;
}
.bbgrid-3 {
	grid-area: products;
	padding-left: 50px;
	padding-right: 50px;
}
.bbgrid-4 {
	grid-area: company;
	padding-left: 50px;
	padding-right: 50px;
}
.bbgrid-5 {
	grid-area: exchange;
	padding-left: 50px;
	padding-right: 50px;
}
.bbgrid-6 {
	grid-area: links;
}

/* ================================================================================== */

/* ======================= Side Nav Bar ================================== */
.nav-bar {
	display: block;
	color: #535a60;
	border-right: 1px solid lightgray;
	box-shadow: 0px 2px 5px #2e610c;
	background-color: #479c0e13;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-bar ul a {
	padding: 15px;
}

.nav-base {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.nav-base-2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}

.nav-base div {
	font-size: 11px;
	margin-top: 15px;
}

.nav-base-2 div {
	font-size: 13px;
}

a {
	text-decoration-line: none;
}

ol {
	text-decoration-line: none;
	list-style-type: none;
}

ul {
	list-style-type: none;
}

.nav-bar li {
	margin-top: 20px;
}

ul li {
	font-size: 13px;
	font-weight: bold;
}

li a {
	font-size: 13px;
}

#home {
	font-weight: bold;
	padding: 0%;
}

.nav-selected {
	color: #0c0d0e;
	background-color: #eff0f1;
	border-left: 2px solid #2e610c;
}
/* ========================================================================== */
.naving {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

button {
	color: white;
	background: #2e610c;
	padding: 10.4px;
	font: 13px Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
	display: inline-block;
	border-radius: 1em;
}

.button {
	color: #2e610c;
	background-color: #e1ecf4;
	padding: 10.4px;
	font: 13px Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: relative;
	display: inline-block;
}

input {
	background: #ffffff;
	width: 700px;
	padding: 5px;
}

/*
.tags {
    background-color: #E1ECF4;
    color: #39739D;
    margin: 2px 2px 2px 0px;
    padding: 4.8px 6px;
    font: 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
}
*/

.virusForm {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 5px;
}
.formTitle {
	text-align: center;
}

.inputBlock {
	max-width: 33%;
}
.inputBlock * {
	margin: 5px;
}

.buttonHolder {
	display: flex;
	justify-content: center;
}

.error {
	background-color: rgba(255, 0, 0, 0.25);
	margin-top: 5px;
}
