.questions{
    display: grid;
    width: 1264px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav main"
}

.nav-grid-area{
    grid-area: nav;
    display: grid;
}

.main-grid-area{
    grid-area: main;
}
