.questions{
    display: grid;
    width: 1264px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav main"
}

.nav-grid-area{
    grid-area: nav;
    display: grid;
}

/* ================================ Main Section Grid ===============================================  */
.main-grid-area{
    grid-area: main;
    display: grid;
    padding: 24px;
    grid-template-columns: auto 300px;
    grid-template-rows: auto;
    grid-template-areas:
        "center sidebar";
}
                 /* =================  center grid ================== */
.mgrid-1 {
    grid-area: center;
    display: grid;
    padding-right: 12px;
    margin-top: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% auto 5%;
    grid-template-areas:
    "questions"
    "links"
    "questionList"
    "bottom";
}

.center-grid-1 {
    grid-area: questions;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 0px 2px 0px;
    margin-bottom: 50px;
}

.question-title {
    font: 40px Arial, Helvetica, sans-serif;
}

.center-grid-2 {
    grid-area: links;
    display: flex;
    height: 50px;
    margin-bottom: 35px;
    justify-content: flex-end;
    align-items: center;
}

.linkborder{
    border: 1px solid gray;
    border-radius: 1em;
    font-size: 13px;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px gray;
}

.center-grid-3 {
    grid-area: questionList;
    margin-top: 50px;
    height: auto;
}

.classname{
    display: grid;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border: 1px solid rgb(85, 85, 85);
    background-color: #479c0e13;
    color: rgb(122, 122, 122);
    border-radius: 15em;
    box-shadow: 1px 1px 5px rgb(65, 65, 65);
    grid-template-columns: 1fr 1fr 3.5fr 3.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "votes answer question question"
    "votes answer user user";
    border-bottom: .5px solid lightgray;
}

.word {
    font-size: 10pt;
    padding-top: 5px;
    padding-left: 5px;
}

.questionLink {
    color: #2e610c;
}
.qb-grid1{
    grid-area: votes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.qb-grid2{
    grid-area: answer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qb-grid4{
    grid-area: question;
    display: flex;
    flex-flow: row wrap;
    margin-left: 15px;
}

.qb-grid6{
    grid-area: user;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 15px;
    margin-left: 15px;
}

/* ================= question boxes ============================== */
.center-grid-4 {
    grid-area: bottom;
    padding-top: 50px;
}

                /* ================== right sidebar ================ */
.mgrid-2 {
    grid-area: sidebar;
    display: grid;
    padding-left: 12px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "div1"
    "div2"
    "div3";
}

.div1{
    grid-area: div1;
    border: 1px solid #2e610c;
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px gray;
    background-color:#479c0e13;
}


.div2{
    grid-area: div2;
    border: 1px solid #2e610c;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color:#479c0e13;
}
.div3{
    grid-area: div3;
    border: 1px solid #2e610c;
    border-radius: 1em;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color:#479c0e13;
}

.headTitle {
    font-weight: bold;
}

.someSpace {
    margin-top: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px #2e610c;
    border: 1px solid rgb(82, 82, 82);
    height: 17px;
    color: black;
    background-color: white;
}

/* ======================================================================================================== */
h2 a {
    color: #0077CC;
}
