.container{
    border: solid;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: auto ;
    grid-area:
    "header"
    "main";
}
.topheader {

    display: grid;
    grid-area: header;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.mgrid {
    display: grid;
    grid-area: main;
    grid-template-rows: auto;
    grid-template-columns: 7fr 3fr;
    grid-area:
    "askForm" "tips"
    "askForm" "otherQuestions"
    "askForm" "helpfulLinks";
}

.mgrid-form{
    display: grid;
    grid-area: askForm;
    grid-template-columns: auto;
    grid-template-rows: 1fr 8fr 1fr;
    grid-area:
    "title"
    "body"
    "tags";
}
.mgform-title {
    display: block;
}

.mgrid-sidebar {
    display: grid;
    grid-area: tips;
    grid-template-rows: 4fr 1fr 1fr;
    grid-template-columns: auto;
    grid-area:
    "sidebarContent"
    "non-programming-questions"
    "helpfulLinks";

}


.mgrid-sidebar-1 {
    display: block;
    grid-area: sidebarContent;
}
.mgrid-sidebar-2{
    display: block;
    grid-area: non-programming-questions;
}
.mgrid-sidebar-3{
    display: block;
    grid-area: helpfulLinks;
}
